HEXOIDS_HOST=localhost
JAVA_EXTRA_OPTS=-XX:+UseZGC -XX:+DisableExplicitGC -Xms1G -Xmx1G --add-modules java.se --add-exports java.base/jdk.internal.ref=ALL-UNNAMED --add-opens java.base/java.lang=ALL-UNNAMED --add-opens java.base/java.nio=ALL-UNNAMED --add-opens java.base/sun.nio.ch=ALL-UNNAMED --add-opens java.management/sun.management=ALL-UNNAMED --add-opens jdk.management/com.sun.management.internal=ALL-UNNAMED -Dhexoids.config.player.max.move=0.75 -Dhexoids.config.bolt.speed=0.07 -Dquarkus.http.host=0.0.0.0 -Djava.util.logging.manager=org.jboss.logmanager.LogManager