# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

bots/settings.local.js

# docker-compose
.env

# npm
/src/main/js-proto/node_modules/
/src/main/js-proto/node/
/src/main/js-proto/bbop.proto.node.js
/src/main/resources/META-INF/resources/js/bbop.proto.js

# pq
docker/pq/bbop.proto
